.parent{
    width: 100%;
}

#light .parent{
    background-color: #f0eef6;
}

#dark .parent{
    background-color: #0a0911;
}

#light .news{
    background-color: #f0eef6;
}

#dark .news{
    background-color: #151221;
}

.news{
    width: 100%;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    gap: 20px;
}

@media only screen and (max-width: 768px) {
    .news{
        margin-top: 69px;
    }
}